@use "../../styles/utils";
@use "../../styles/fluid-design";
@use "../../styles/query";

.display {
    box-sizing: border-box;
    overflow-y: hidden;

    &__album-grid {
        @include utils.gridLayout(grid, 0, 25px);
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        @include query.respond("1320px") {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }

    &__album {
        &-item {
            display: flex;
            position: relative;
            flex-direction: column;
            transition: 0.2s;

            @media (hover: hover) {
                &:hover {
                    cursor: pointer;
                    z-index: 10;
                    /* transform: translateY(-1rem); */
                }
            }

            &.shifted {
                transform: translateX(100px);
            }

            // @media (hover: hover) {
            //     &:hover + .display__album-item {
            //         transform: translateX(100px);
            //     }
            // }

            // &-item:not(:first-child) {
            //     margin-left: -100px;
            // }
        }

        &-thumb {
            width: 300px;
            transition: transform 0.2s ease-in-out;

            .display__album-item:hover & {
                transform: translateY(-1rem); //This added
            }

            @include query.respond("1320px") {
                width: 250px;
            }

            img {
                object-fit: cover;
                box-shadow: -1rem 0 2rem #000;
                border-radius: 8px;
                width: 350px;

                @include query.respond("1320px") {
                    width: 300px;
                }
            }
        }
    }
}
