@mixin respond($breakpoint) {
    @if ($breakpoint == "1320px") {
        @media (max-width: 1320px) {
            @content;
        }
    }

    @if ($breakpoint == "850px") {
        @media (max-width: 850px) {
            @content;
        }
    }

    @if ($breakpoint == "700px") {
        @media (max-width: 700px) {
            @content;
        }
    }

    @if ($breakpoint == "500px") {
        @media (max-width: 500px) {
            @content;
        }
    }

    @if ($breakpoint == "400px") {
        @media (max-width: 400px) {
            @content;
        }
    }

    @if ($breakpoint == "380px") {
        @media (max-width: 380px) {
            @content;
        }
    }
}
