@use "../../styles/utils";
@use "../../styles/fluid-design";
@use "../../styles/query";

.search {
    display: block;
    width: 60%;
    margin: 0 auto;

    &__form {
        display: flex;
        gap: 5px;
    }

    &__input {
        width: 100%;
        border-radius: 35px;
        border: 3px solid utils.$svgSearchColor;
        padding: 1rem;
        color: utils.$mainFontColor;
        background-color: utils.$inputBg;
        @include utils.focusGlow(utils.$coolBlue);

        &:focus {
            border: 3px solid transparent;
        }

        &::placeholder {
            color: utils.$svgSearchColor;
            font-family: utils.$font;
        }
    }

    &__button {
        border: none;
        color: utils.$svgSearchColor;
        background-color: transparent;
        @include utils.hover;
        font-size: 2rem;
        font-weight: 400;
    }
}
