@use "/src/styles/utils";
@use "../../styles/fluid-design";

.header {
    margin-bottom: 4rem;
    &__title {
        font-weight: utils.$globalFontWeight;
        padding: 0 25px;
        font-size: fluid-design.fluid(1.5rem, 2.5rem, 28.409rem, 109.091rem);
    }

    &__menu {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: fluid-design.fluid(3rem, 25rem, 25rem, 109.091rem);

        // @include query.respond("380px") {
        //     padding: 0px;
        // }

        li {
            list-style: none;
        }
    }
}
