@use "/src/styles/utils";
@use "../../styles/fluid-design";
@use "../../styles/query";

.display {
    width: 100%;

    &__inner {
        padding: 0 25px;

        @include query.respond("400px") {
            padding: 0px;
        }
    }

    &__showcase {
        display: flex;
        gap: 1rem;
        padding: 0 25px;

        @include query.respond("850px") {
            flex-direction: column;
            align-items: center;
        }

        @include query.respond("400px") {
            padding: 0px;
        }
    }

    &__album {
        &-art {
            width: fluid-design.fluid(12rem, 15rem, 47.375rem, 109.091rem);
            height: fluid-design.fluid(12rem, 15rem, 47.375rem, 109.091rem);
        }

        &-img {
            width: 100%;
            border-radius: fluid-design.fluid(20px, 35px, 758px, 1600px);
            aspect-ratio: 1;
            object-fit: cover;
        }
    }

    &__info {
        h3 {
            margin-top: 0;
            font-weight: 400;
        }
    }

    &__playlist {
        width: 100%;
        margin-top: 4rem;

        &-messages {
            display: flex;
            justify-content: center;
        }
    }

    &__grid {
        display: grid;
        //grid-template-columns: repeat(5, minmax(min(100%, 70px), 1fr));
        grid-template-columns: auto 1fr 1fr 1fr auto auto;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        gap: 0.5rem;

        > div:nth-of-type(even) {
            background-color: utils.$sidebarBg;
        }

        &-item {
            font-size: fluid-design.fluid(0.85rem, 1rem, 25rem, 106.25rem);
        }

        &-art {
            //width: 40px;
            width: fluid-design.fluid(25px, 40px, 400px, 1700px);
            display: flex;

            @include query.respond("400px") {
                width: 25px;
            }
        }

        &-img {
            aspect-ratio: 1;
            object-fit: cover;
            width: 100%;
            border-radius: 8px;
        }

        &-title,
        &-artist,
        &-album,
        &-time {
            font-size: fluid-design.fluid(0.7rem, 1rem, 22.656rem, 109.091rem);
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }

        &-row {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1 / -1;
            align-items: center;
            padding: 0 fluid-design.fluid(10px, 25px, 400px, 1700px);
            border-radius: 20px;
            @include utils.hover;
        }
    }
}
