@use "/src/styles/utils";
@use "../../styles/fluid-design";
@use "../../styles/query";

.display {
    width: 100%;

    &__inner {
        padding: 0 25px;

        @include query.respond("400px") {
            padding: 0px;
        }
    }

    &__showcase {
        display: flex;
        gap: 1rem;
        padding: 0 25px;
        font-size: fluid-design.fluid(1rem, 1.5rem, 28.438rem, 87.5rem);

        @include query.respond("850px") {
            flex-direction: column;
            align-items: center;
        }

        @include query.respond("500px") {
            padding: 0px;
        }
    }

    &__album {
        &-art {
            width: fluid-design.fluid(12rem, 15rem, 47.375rem, 109.091rem);
            height: fluid-design.fluid(12rem, 15rem, 47.375rem, 109.091rem);
        }

        &-img {
            width: 100%;
            border-radius: fluid-design.fluid(20px, 35px, 758px, 1600px);
            aspect-ratio: 1;
            object-fit: cover;
        }
    }

    &__info {
        h3 {
            margin-top: 0;
            font-weight: 400;
        }

        &-title,
        &-band {
            @include query.respond("850px") {
                text-align: center;
            }
        }
    }

    &__playlist {
        width: 100%;
        margin-top: 4rem;

        &-messages {
            display: flex;
            justify-content: flex-start;
            padding: 0 25px;
            font-size: fluid-design.fluid(1rem, 1.5rem, 28.438rem, 87.5rem);

            @include query.respond("850px") {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__wrapper {
        &-outer,
        &-inner {
            display: contents;
        }

        @include query.respond("700px") {
            &-outer {
                width: 80%;
                display: flex;
                gap: 1rem;
                justify-content: space-between;
                align-items: center;
            }

            &-inner {
                display: flex;
                flex-direction: column;
                width: 100px;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: auto 1fr 1fr 1fr auto auto;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        gap: 0 2rem;

        //Song header
        > h4:nth-of-type(1) {
            grid-column: 2;
        }

        //Artist
        > h4:nth-of-type(2) {
            grid-column: 3;
        }

        //Album
        > h4:nth-of-type(3) {
            grid-column: 4;
        }

        //Time
        > h4:nth-of-type(4) {
            grid-column: 6;
        }

        h4 {
            @include query.respond("700px") {
                display: none;
            }
        }

        > div:nth-of-type(even) {
            background-color: utils.$sidebarBg;
        }

        @include query.respond("700px") {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &-item {
            font-size: fluid-design.fluid(0.85rem, 1rem, 25rem, 106.25rem);
        }

        &-art {
            width: fluid-design.fluid(30px, 40px, 750px, 1700px);
            display: flex;

            @include query.respond("700px") {
                width: fluid-design.fluid(60px, 80px, 400px, 700px);
                height: fluid-design.fluid(60px, 80px, 400px, 700px);
            }
        }

        &-img {
            aspect-ratio: 1;
            object-fit: cover;
            width: 100%;
            border-radius: 8px;
        }

        &-title,
        &-artist {
            @include utils.text-ellipsis-style;
        }

        &-album,
        &-time {
            @include utils.text-ellipsis-style;

            @include query.respond("700px") {
                display: none;
            }
        }

        &-row {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1 / -1;
            align-items: center;
            padding: 0 fluid-design.fluid(10px, 25px, 750px, 1700px);
            border-radius: 20px;
            @include utils.hover;

            @include query.respond("700px") {
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }

        &-btn {
            &-container {
                width: 40px;
                height: 40px;
            }

            @include utils.playlistButton(transparent, none);
            @include utils.fullWidth;

            &--ticked {
                @include utils.playlistButton(transparent, none);
            }
        }

        &-svg {
            @include utils.fullWidth;
            fill: utils.$iconColor;

            &--ticked {
                fill: utils.$tickColor;
                @include utils.fullWidth;
            }

            &--delete {
                @include utils.fullWidth;
                @include utils.hoverButton(
                    utils.$dryRed,
                    utils.$redHover,
                    0.2s,
                    ease-in-out
                );
            }
        }
    }
}
